* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

:root {
    --mainColor: #E54E1B;
    --mainTransition: 0.5s;
    --textColor: #ffffff;
    --blackText: #000;
    --Menucolor: #e1e1e1;
}

/*===== All Section Title Style =====*/
.section_title {
    margin: 4rem 0;
}

.section_title .title {
    font-size: 44px;
    font-weight: 700;
}

.row {
    margin: 4rem 0;
}

@media (max-width: 767px) {
    .section_title .title {
        font-size: 30px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .section_title .title {
        font-size: 34px;
    }
}

.section_title .line {
    height: 2px;
    width: 150px;
    background-color: var(--mainColor);
    border-radius: 50px;
    margin: 30px auto 0;
    position: relative;
}

.section_title .line .box {
    position: absolute;
    top: -6px;
    left: 50%;
    width: 15px;
    height: 15px;
    background-color: var(--mainColor);
    -webkit-transform: translateX(-35%) rotate(45deg);
    -moz-transform: translateX(-35%) rotate(45deg);
    -ms-transform: translateX(-35%) rotate(45deg);
    -o-transform: translateX(-35%) rotate(45deg);
    transform: translateX(-35%) rotate(45deg);
}

.section_title .line .box::before,
.section_title .line .box::after {
    position: absolute;
    content: '';
    top: 7px;
    left: -8px;
    width: 100%;
    height: 100%;
    background-color: rgba(229, 78, 27, 0.33);
}

.section_title .line .box::after {
    left: auto;
    right: -7px;
    top: -8px;
}

span
{
    display: inline-block;
}


/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
    position: fixed;
    width: 100%;
    top: 0;
    transition: 250ms;
    background-color: rgba(0, 0, 0, 0.5);
    height: 4rem;
    z-index: 100;
}

.nav-links {
    position: absolute;
    right: 0;
    top: 8.5vh;
    width: 60%;
    height: 70vh;
    background-color: var(--blackText);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: menu_animation 500ms ease-in-out;
    margin-top: auto;
}

.show-menu {
    display: flex;
}

@keyframes menu_animation {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

.logo {
    margin-left: 3.5rem;
    transition: 250ms;
}

@media (max-width:770px) {
    .logo {
        margin-left: 1rem;
    }
}

nav ul li {
    list-style: none;
    margin: 20px 0;
}

nav ul li a {
    text-decoration: none;
    padding: 10px 30px;
    font-size: 1rem;
    color: var(--mainColor);
    transition: 250ms;
}

nav ul li a:hover {
    color: var(--textColor);
}

.sticky {
    background: var(--blackText);
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.5);
    backdrop-filter: 20px;
    z-index: 100;
}

.hamburger-on {
    background: url("../images/assets/menu.svg");
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: 250ms ease-in-out;
}

.hamburger-off {
    padding: 9px;
    background: url("../images/assets/close.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 25px;
    width: 25px;
    cursor: pointer;
    transition: 250ms ease-in-out;
}

@media screen and (min-width: 700px) {
    .nav-links {
        display: flex;
        flex-direction: row;
        position: unset;
        width: auto;
        height: auto;
        background: none;
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        margin: 0;
    }

    nav ul li a {
        padding: 0;
        margin: 1rem;
    }

    .hamburger-on {
        display: none;
    }
}


/* hero */
.hero-wrapper {
    height: 100vh;
    background:linear-gradient(315deg, var(--mainColor),var(--Menucolor));
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--textColor);
    position: relative;
}

.hero-wrapper .overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-content {
    max-width: 550px;
    margin: 0 auto;
    text-align: center;
}

.hero-wrapper button, form button{
    color: var(--textColor);
    padding: 10px 25px;
    background: var(--mainColor);
    border: 1px solid var(--mainColor);
    border-radius: 10px;
    cursor: pointer;
}

.hero-wrapper button:hover, form button:hover{
    background: rgb(229, 78, 27, 0.5);
    transition: all var(--mainTransition);
    outline: pointer;
}


@media screen and (max-width:530px) {
    .hero-content {
        padding: 15px;
    }
    .hero-wrapper button {
        padding: 12px 25px;
        font-size: 16px;
        margin: 0px 2px;
    }
}

@media screen and (max-width: 565.60px) {
    .hero-wrapper button {
        margin-top: 1rem;
    }
}



/*--------------------------------------------------------------
# Menu Section
--------------------------------------------------------------*/
.menu{
    background-color: var(--Menucolor);
    }
    
    .menu #menu-flters {
        padding: 0;
        margin: 0 auto;
        list-style: none;
        text-align: center;
        border-radius: 50px;
    }
    
    .menu #menu-flters li {
        cursor: pointer;
        display: inline-block;
        padding: 8px 12px 10px;
        font-size: 16px;
        font-weight: 500;
        line-height: 1;
        color: var(--blackText);
        margin-top: 3rem;
        transition: all var(--mainTransition) ease-in-out;
        border-radius: 50px;
    }
    
    .menu #menu-flters li:hover,
    .menu #menu-flters li.filter-active {
        color: var(--mainColor);
    }
    
    .menu .menu-item {
        margin-top: 3rem;
    }
    
    .menu .menu-img {
        height: 60px;
        float: left;
    }
    
    .menu .menu-content {
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    
    .menu .menu-content::after {
        content: "..........................................................." "....................................................................";
        position: absolute;
        left: 20px;
        right: 0;
        top: -4px;
        z-index: 1;
        color: var(--mainColor);
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }
    
    .menu .menu-content h5 {
        padding-right: 10px;
        background: var(--Menucolor);
        position: relative;
        z-index: 3;
        font-size: 1em;
        color:var(--mainColor);
        transition: var(--mainTransition);
    }
    
    .menu .menu-content h5:hover {
        color:rgb(229, 78, 27, 0.5);
    }
    
    .menu .menu-content span {
        background: var(--Menucolor);
        position: relative;
        z-index: 3;
        padding: 0 10px;
        font-weight: 600;
        color: var(--mainColor);
    }
    
    .menu .menu-ingredients {
        margin-left: 85px;
        font-style: italic;
        font-size: 14px;
        color: var(--blackText);
    }

    @media only screen and (max-width: 1285.60px) {
        form{
            margin-left: 7.7rem;
        }
    }