* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

/*===== All Section Title Style =====*/
.section_title .title {
    font-size: 44px;
    font-weight: 700;
}

.row {
    margin: 4rem 0;
}

@media (max-width: 767px) {
    .section_title .title {
        font-size: 30px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .section_title .title {
        font-size: 34px;
    }
}

.section_title .line {
    height: 2px;
    width: 150px;
    background-color: #E54E1B;
    border-radius: 50px;
    margin: 30px auto 0;
    position: relative;
}

.section_title .line .box {
    position: absolute;
    top: -6px;
    left: 50%;
    width: 15px;
    height: 15px;
    background-color: #E54E1B;
    -webkit-transform: translateX(-35%) rotate(45deg);
    -moz-transform: translateX(-35%) rotate(45deg);
    -ms-transform: translateX(-35%) rotate(45deg);
    -o-transform: translateX(-35%) rotate(45deg);
    transform: translateX(-35%) rotate(45deg);
}

.section_title .line .box::before,
.section_title .line .box::after {
    position: absolute;
    content: '';
    top: 7px;
    left: -8px;
    width: 100%;
    height: 100%;
    background-color: rgba(229, 78, 27, 0.33);
}

.section_title .line .box::after {
    left: auto;
    right: -7px;
    top: -8px;
}


/* Navbar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
    position: fixed;
    width: 100%;
    top: 0;
    transition: 250ms;
    background-color: rgba(0, 0, 0, 0.5);
    height: 3.5rem;
}

.nav-links {
    position: absolute;
    right: 0;
    top: 7vh;
    width: 60%;
    height: 70vh;
    background-color: #000;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: menu_animation 500ms ease-in-out;
    margin-top: auto;
}

.show-menu {
    display: flex;
}

@keyframes menu_animation {
    from {
        opacity: 0;
        transform: translateX(100%);
    } to {
        opacity: 1;
        transform: translateX(0%);
    }
}

.logo {
    margin-left: 3.5rem;
    transition: 250ms;
}
@media (max-width:770px) {
    .logo {
        margin-left: 1rem;
    }
}

header ul li {
    list-style: none;
    margin: 20px 0;
}

header ul li a {
    text-decoration: none;
    padding: 10px 30px;
    font-size: 1rem;
    color: #E54E1B;
    transition: 250ms;
}

header ul li a:hover {
    color: #fff;
}

.sticky {
    background: rgba(0, 0, 0);
    box-shadow:  6px 6px 20px rgba(0, 0, 0, 0.5);
    backdrop-filter: 20px;
    z-index: 100;
}

.hamburger-on{
    background: url("../images/assets/menu.svg");
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: 250ms ease-in-out;
}

.hamburger-off {
    padding: 9px;
    background: url("../images/assets/close.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 25px;
    width: 25px;
    cursor: pointer;
    transition: 250ms ease-in-out;
}

@media screen and (min-width: 700px) {
    .nav-links {
        display: flex;
        flex-direction: row;
        position: unset;
        width: auto;
        height: auto;
        background: none;
    }

    header ul {
        display: flex;
    }

    header ul li {
        margin: 0;
    }

    header ul li a {
        padding: 0;
        margin: 1rem;
    }

    .hamburger-on{
        display: none;
    }
}

/* Hero */
.hero {
    width: 100%;
    height: 100vh;
    background-image: url("../images/BG.png");
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

button {
    color: #fff;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid #E54E1B;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    color: black;
    background: #E54E1B;
    transition: all 0.5s;
    outline: pointer;
}

.heroContent {
    color: #fbfcfd;
    max-width: 60%;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

h1 {
    font-size: 50px;
    margin: 10px 0 30px;
    line-height: 80px;
}

@media (max-width:770px) {
    h1 {
        font-size: 40px;
        margin: 10px 0 30px;
        line-height: 50px;
    }
}

p {
    font-size: 40px;
    margin: 10px 0 30px;
    line-height: 50px;
    box-sizing: border-box;
}

@media (max-width:750px) {
    p {
        font-size: 20px;
        margin: 10px 0 30px;
        line-height: 50px;
    }
}

.bubbles img {
    width: 50px;
    animation: bubble 7s linear infinite;
    opacity: 0;
}

.bubbles {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
}

@keyframes bubble {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        transform: translateY(-80vh);
        opacity: 0;

    }
}

.bubbles img:nth-child(1) {
    animation-delay: 2s;
}

.bubbles img:nth-child(2) {
    animation-delay: 1s;
}

.bubbles img:nth-child(3) {
    animation-delay: 4s;
}

.bubbles img:nth-child(4) {
    animation-delay: 5s;
}

.bubbles img:nth-child(5) {
    animation-delay: 6s;
}

.bubbles img:nth-child(6) {
    animation-delay: 7s;
}

.bubbles img:nth-child(7) {
    animation-delay: 8s;
}

/*===========================
    01.COMMON css 
===========================*/
img {
    max-width: 100%;
}

.social a {
    color: #E54E1B;
}

.social a:hover {
    color: #E54E1B;
}

i,
span,
a {
    display: inline-block;
}

.about_area h4 {
    font-family: "Philosopher", sans-serif;
    font-weight: 700;
    color: #2A2A2A;
    margin: 0px;
    font-size: 22px;
}

.about_area ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.about_area p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #7A7A7A;
    margin: 0px;
}


/*===========================
        04.ABOUT css 
===========================*/
.about_image img {
    border-radius: 5px;
    width: 100%;
}

.about_content .about_title {
    font-size: 40px;
    font-weight: 700;
}

@media (max-width: 767px) {
    .about_content .about_title {
        font-size: 24px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .about_content .about_title {
        font-size: 30px;
    }
}

.about_content p {
    margin-top: 25px;
}

.about_content .social {
    padding-top: 30px;
}

.about_content .social li {
    display: inline-block;
    margin-top: 10px;
}

.about_content .social li+li {
    margin-left: 15px;
}

.about_content .social li a {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background-color: #7A7A7A;
    color: #fff;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.about_content .social li a:hover {
    color: #fff;
    background-color: #E54E1B;
}




/* cards */

.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    margin: 5rem;
    position: relative;
    max-width: 250px;
    max-height: 350px;
    box-shadow: 0 7px 10px -6px black;
}

.card-title {
    display: block;
    text-align: center;
    color: #000;
    background-color: #E54E1B;
    padding: 2%;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.card img {
    width: 100%;
    height: 98%;
    object-fit: cover;
    display: block;
    position: relative;
}

.card-desc {
    display: block;
    font-size: 1.2rem;
    position: absolute;
    height: 0;
    top: 0;
    opacity: 0;
    padding: 18px 8%;
    background-color: white;
    overflow-y: scroll;
    transition: 0.8s ease;
}

.card:hover .card-desc {
    opacity: 1;
    height: 100%;
}